/********************************************************************************************
Blog posts
********************************************************************************************/
/* Blog posts layout */
#posts {
	margin-inline: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc((var(--body-max-width) / 3) - 2rem), 1fr)
	);
}

/* Blog posts cards */
.post-card {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	height: 100%;
	background-color: var(--clr-black);
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--clr-grey-desat);
	border-left: 4px solid var(--clr-orange);
	color: var(--clr-white);
	text-decoration: none;

	&:is(:hover, :focus, :active) {
		border: 1px solid var(--clr-grey);
		border-left: 4px solid var(--clr-blue-accent-dark);
	}
}

.post-card-img {
	height: 15rem;
	object-fit: cover;
}

.post-content {
	& p:first-child {
		font-weight: 600;
		margin-bottom: 2.5rem;
	}
}

.post-img {
	margin-inline: auto;
	margin-block: 1rem;
	object-fit: cover;
	max-height: 40vh;
	width: 100%;
}

.post-text {
	padding: 1rem;
	padding-bottom: 2rem;
}

.post-date {
	font-family: var(--ff-accent);
	color: var(--clr-grey);
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}

.post-category-wrapper {
	margin-top: -0.75rem;
	margin-bottom: 3rem;
}

.post-post_tag-wrapper {
	margin-top: 5rem;
}

.post-tag-title {
	font-family: var(--ff-accent);
	color: var(--clr-grey);
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}

/********************************************************************************************
Blog posts comments
********************************************************************************************/
#comments-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.comment-wrapper {
	display: grid;
	gap: 1rem;
	grid-template-columns: 4rem 1fr;
	grid-template-areas: "avatar meta" "avatar comment";
	border: 1px solid var(--clr-grey-desat);
	border-radius: 5px;
	padding: 2rem;
	width: 100%;

	&:last-of-type {
		margin-bottom: 2rem;
	}
}

.comment-avatar {
	grid-area: avatar;
}

.comment-content {
	grid-area: comment;
}

.comment-meta {
	grid-area: meta;

	& h3 {
		margin-top: 0;
	}

	& p {
		font-family: var(--ff-accent);
		color: var(--clr-white);
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
}

.comment-avatar {
	border-radius: 50%;
}

#comment-form {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr auto;
	align-items: end;
	margin-top: 1rem;

	& button {
		margin-block: 0;
	}

	& .span3 {
		grid-column: span 3;
	}

	& h3 {
		margin-bottom: 2rem;
	}
}

.no-comments {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > i {
		margin-top: 0.5rem;
		margin-bottom: 2rem;
	}
}

/********************************************************************************************
Blog posts carousel
********************************************************************************************/
.carousel-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-items: center;
}

.carousel {
	overflow: hidden;
	position: relative;
}

.carousel-track {
	display: flex;
	gap: 1rem;
	align-items: stretch;
	width: 100%;
	transition: transform 0.5s ease;
}

.carousel-track .post-card {
	align-items: stretch;
	flex: 1 0 calc(25% - 1.25rem);
	min-height: 40rem; /* I don't love this */
}

.post-card .post-text {
	flex-grow: 1;
}

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	min-height: 1.5rem;
	padding: 0.25rem;
	background-color: var(--clr-blue-accent-dark);
	color: var(--clr-white);
	border: 1px solid var(--clr-blue-accent-dark);
	border-radius: 3px;
	cursor: pointer;

	&:is(:hover, :active) {
		border: 1px solid var(--clr-white);
	}
}

.prev {
	left: -2rem;
}

.next {
	right: -2rem;
}

.carousel-dots {
	text-align: center;
	padding-top: 1rem;
}

.carousel-dot {
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	margin: 0 0.5rem;
	background-color: var(--clr-grey-desat);
	border-radius: 50%;
	cursor: pointer;
}

.carousel-dot.active {
	background-color: var(--clr-white);
}

/********************************************************************************************
Blog filters
********************************************************************************************/
.filter {
	margin-inline: auto;
	max-width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.filter-categories {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	& > * {
		margin-block: 0;
	}
}

.filter-search {
	display: grid;
	grid-template-columns: 1fr auto;

	& input {
		border-left: 4px solid var(--clr-blue-accent-dark);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	& button {
		margin-left: -0.25rem;
		margin-block: 0;
		padding-block: 0.25rem;
		background-color: var(--clr-black);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&:is(:hover, :active) {
			background-color: var(--clr-black);
		}
	}
}

/********************************************************************************************
Forms
********************************************************************************************/
input,
textarea {
	margin-top: 0.25rem;
	background-color: var(--clr-black);
	border: 1px solid var(--clr-grey-desat);
	border-left: 4px solid var(--clr-orange);
	color: var(--clr-white);
	width: 100%;
	border-radius: 5px;
	padding: 0.5rem;

	&:is(:focus, :active) {
		border: 1px solid var(--clr-white);
		border-left: 4px solid var(--clr-blue-accent);
		outline: none;
	}
}

#search {
	margin-top: 0;

	&:is(:focus, :active) {
		border: 1px solid var(--clr-blue-accent-dark);
		border-left: 4px solid var(--clr-blue-accent);
	}
}

textarea {
	min-height: 10rem;
	color: var(--clr-white);
}

label {
	color: var(--clr-orange);
	font-family: var(--ff-accent);
	font-size: 0.85rem;
}

#contact-form {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	align-items: start;

	& .span2 {
		grid-column: span 2;
	}
}

.form-btn-wrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: flex-end;
	margin-top: -1rem;
	margin-bottom: 2rem;
}

.error-msg {
	font-family: var(--ff-accent);
	font-size: 0.85rem;
	margin-top: 0.25rem;
	padding: 0.5rem;
	background-color: var(--clr-error-dark);
	color: var(--clr-white);
	border: 1px solid var(--clr-error-light);
	border-top: 4px solid var(--clr-grey);
	border-radius: 5px;
	max-width: 100%;

	&::before {
		font: var(--fa-font-solid);
		content: "\f06a";
		font-size: 1rem;
		margin-right: 0.5rem;
	}
}

/********************************************************************************************
Timeline
********************************************************************************************/
.timeline {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	position: relative;
}

.timeline::before {
	content: "";
	position: absolute;
	left: 20%;
	top: 1rem;
	bottom: 1rem;
	width: 3px;
	background-color: var(--clr-orange);
}

.timeline-event {
	display: grid;
	grid-template-columns: 20% 1fr;
	justify-content: center;
	align-items: center;
}

.timeline-content {
	padding-right: 3rem;
	text-align: right;
}

.timeline-description {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	padding-left: 3rem;
	margin-left: -4rem;
	text-align: left;

	& i {
		padding: 0.5rem;
		background-color: var(--clr-blue-dark);
		color: var(--clr-grey);
		border: 2px solid var(--clr-grey);
		border-radius: 50%;
		z-index: 20;
	}
}

.timeline-content time {
	font-family: var(--ff-accent);
}

.timeline-later {
	margin-top: 5rem;
	color: var(--clr-purple);

	& i {
		border: 2px solid var(--clr-purple);
		color: var(--clr-purple);
	}
}
