.relative {
	position: relative;
}

/********************************************************************************************
Sections
********************************************************************************************/
.flex-row {
	display: flex;
	gap: 2rem;
	flex-direction: row;
	align-items: center;
}

/********************************************************************************************
Navigation
********************************************************************************************/
.menu {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1rem 0.5rem;
}

/********************************************************************************************
Typography
********************************************************************************************/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
